//
// Layouts
// -------------------------------------------------- //

.site-content {
  overflow hidden
}

.wrapper {
  position relative
  width 940px
  margin 0 auto
}

@import "layouts/site-header"
@import "layouts/site-footer"
